.arrow-down-icon {
    position: absolute;
    height: 10px;
    width: 12px;
    top: 46px;
    right: 110px;
}

.arrow-left-icon {
    position: relative;
    height: 9px;
    width: 10px;
    left: -1px;
}

.arrow-right-icon {
    position: relative;
    height: 9px;
    width: 10px;
    right: -1px;
}

.account-icon {
    position: fixed;
    left: 20px;
    top: 400px;
    width: 25px;
    height: 25px;
}

.calendar-icon {
    position: fixed;
    left: 20px;
    top: 460px;
    width: 25px;
    height: 25px;
}

.info-icon {
    position: relative;
    width: 20px;
    height: 20px;
    left: 165px;
    top: 38px;
}

.info-icon:hover {
    cursor: pointer;
}

.book-icon {
    position: relative;
    width: 22px;
    height: 22px;
}

.book-icon:hover {
    cursor: pointer;
}